{% extends 'landing_page.html' %}

{% block main_content %}
<h2>Your Buddies</h2>
<ul>
    {% for buddy in buddies %}
        <li>
            {{ buddy.buddy.username }}
            <form method="post" action="{% url 'user_profile:remove_from_buddy_list' buddy.buddy.id %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Remove from Buddy List</button>
            </form>
        </li>
    {% empty %}
        <p>You have no buddies in your list.</p>
    {% endfor %}
</ul>
{% endblock %}
