{% extends 'landing_page.html' %}
{% load static %}
{% load custom_filters %}

{% block main_content %}

<style>
    .description {
        color: #123;
    }
</style>

<header>
    {% comment %} <h4 style="background-color: black; color: white; text-align: center;">Welcome, {{ user.username }}! What's on your mind</h4> {% endcomment %}
        
        <nav class="navbar navbar-expand-lg navbar-dark bg-black">
            <div class="container">
                <a href="{% url 'only_message:message_list_view' %}" class="button-link">
                    <button class="messagebtn"> 💬 </button>
                </a>

                {% comment %} <form method="GET" action="{% url 'user_profile:search_users' %}">
                    <input type="text" name="q" placeholder="Search users..." value="{{ query }}">
                    <button type="submit">Search</button>
                </form> {% endcomment %}
                <button id="globe-button" onclick="location.href='{% url 'user_profile:explore' %}'">
                    <i class="fas fa-globe"></i>
                </button>
                
                <button class="openbtn" onclick="openNav()">☰ </button>
            </div>
        </nav>
        
        
    <!-- Profile Picture Section -->
</header>

{% comment %} <button id="globe-button" onclick="location.href='{% url 'user_profile:explore' %}'">
    <i class="fas fa-globe"></i>
</button> {% endcomment %}

<div class="uploads-section">
    <div class="row row-cols-2 g-4">
       {% comment %} <button type="button" class="btn btn-primary" onclick="location.href='{% url 'user_profile:profile' user_id=request.user.id %}'">Profile</button> {% endcomment %}
        <button type="button" class="btn btn-primary" onclick="location.href='{% url 'user_profile:media_tags' user_id=request.user.id %}'">Tags 🔖</button>
        <button type="button" class="btn btn-primary" onclick="location.href='{% url 'user_profile:saved_uploads' %}'">Saved</button>
    </div>
</div>

<div class="media-wrapper">
    <div class="row row-cols-1 g-4" id="media-container">
        {% if page_obj %}
            {% for media in page_obj %}
                <div class="col media-item" data-id="{{ media.id }}" data-url="{% url 'user_profile:media_detail_view' media.id %}">
                    <a href="{% url 'user_profile:profile' user_id=media.user.id %}">
                        {{ media.user.username }}
                    </a>
                    <div class="media-content">
                        {% if media.file.url|is_video %}
                            <video controls class="img-fluid autoplay-video" unmute>
                                <source src="{{ media.file.url }}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        {% else %}
                            <img src="{{ media.file.url }}" alt="media" class="img-fluid">
                        {% endif %}
                        <div class="description">
                            <a href="{% url 'user_profile:like_media' media.id %}" 
                               class="like-link {% if request.user in media.likes.all %}liked{% endif %}" 
                               data-url="{% url 'user_profile:like_media' media.id %}" 
                               data-media-id="{{ media.id }}" 
                               data-csrf-token="{{ csrf_token }}">
                                {% if request.user in media.likes.all %}
                                    ❤️
                                {% else %}
                                    ♡
                                {% endif %}
                            </a> 
                            
                            <span class="like-count">{{ media.likes.count }}</span> likes
                            <a href="{% url 'user_profile:media_detail_view' media.id %}">Comment</a>
                            <p>{{ media.description|safe }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No media available from followed users. Showing recommended content based on your preferences, if you are new click on the green gloab at the top.</p>
        {% endif %}
    </div>
</div>

<!--
<div class="media-wrapper">
    <div class="row row-cols-1 g-4" id="media-container">
        {% if page_obj %}
            {% for media in page_obj %}
                <div class="col media-item" data-id="{{ media.id }}" data-url="{% url 'user_profile:media_detail_view' media.id %}">
                    <a href="{% url 'user_profile:profile' user_id=media.user.id %}">
                        {{ media.user.username }}
                    </a>
                    <div class="media-content">
                        {% if media.file.url|is_video %}
                            <video class="img-fluid autoplay-video" 
                                   {% if media.thumbnail %} poster="{{ media.thumbnail.url }}" {% else %} poster="{{ media.file.url }}" {% endif %} 
                                   muted autoplay loop playsinline>
                                <source src="{{ media.file.url }}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        {% else %}
                            <img src="{% if media.thumbnail %}{{ media.thumbnail.url }}{% else %}{{ media.file.url }}{% endif %}" 
                                 alt="media" class="img-fluid lazyload">
                        {% endif %}
                        <div class="description">
                            <a href="{% url 'user_profile:like_media' media.id %}" 
                               class="like-link {% if request.user in media.likes.all %}liked{% endif %}" 
                               data-url="{% url 'user_profile:like_media' media.id %}" 
                               data-media-id="{{ media.id }}" 
                               data-csrf-token="{{ csrf_token }}">
                                {% if request.user in media.likes.all %}
                                    ❤️
                                {% else %}
                                    ♡
                                {% endif %}
                            </a> 
                            <span class="like-count">{{ media.likes.count }}</span> likes
                            <a href="{% url 'user_profile:media_detail_view' media.id %}">Comment</a>
                            <p>{{ media.description|safe }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No media available from followed users. Showing recommended content based on your preferences. If you are new, click on the green globe at the top.</p>
        {% endif %}
    </div>
</div>
-->
     <!-- Pagination controls -->
     <div class="pagination" >
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

    <!-- Loading Spinner -->
    <div id="loading-spinner" style="display: none; text-align: center;">
        <img src="{% static 'images/loading_spinner.gif' %}" alt="Loading Spinner">
    </div>

            {% block footer %}
            <footer class="bg-primary text-white bg-black py-4">
                <div class="bottom-strip d-flex justify-content-around">
    
                    <div class="home bg-white">
                        <a href="{% url 'only_card:landing_page' %}">
                            <i class="fas fa-shield-alt"></i>
                        </a>
                    </div>
    
                    {% block new_notion %}
    
                    <div class="notion bg-white">
                        <a href="{% url 'notion:notion_home' notion_id=request.user.id%}">notions</a>
                    </div>
    
                    {% endblock %}

                    <div class="home bg-white">
                        <a href="{% url 'user_profile:upload_media' %}">
                            <i class="fas fa-upload"></i>
                        </a>
                    </div>

    
                    <div class="profile bg-white">
                        <a href="{% url 'user_profile:profile' user_id=request.user.id %}" class="profile-button">
                       {% comment %} <a href="{% url 'user_profile:following_media' %}" class="profile-button"> {% endcomment %}
                            <i class="fas fa-user-circle"></i>
                        </a>
                    </div>
                </div>
            </footer>
            {%endblock%}

{% endblock %}

{% block following_media_script %}
<script>
    const mediaContainer = document.getElementById('media-container');
    const loadingSpinner = document.getElementById('loading-spinner');
    let page = 1;
    let loading = false;
    let hasMoreMedia = true;

    document.addEventListener('DOMContentLoaded', function() {
        // Setup Intersection Observer for videos
        const videos = document.querySelectorAll('.autoplay-video');
        const observerOptions = {
            root: null,
            threshold: 0.75 // Play video when 75% of it is visible
        };

        const videoObserver = new IntersectionObserver((entries, observer) => {
            entries.forEach(entry => {
                const video = entry.target;
                if (entry.isIntersecting) {
                    video.play();
                } else {
                    video.pause();
                }
            });
        }, observerOptions);

        videos.forEach(video => {
            videoObserver.observe(video);
        });

        // Ajax for like link
        document.querySelectorAll('.like-link').forEach(function(link) {
            link.addEventListener('click', function(event) {
                event.preventDefault();
                const url = this.getAttribute('data-url');
                const csrfToken = this.getAttribute('data-csrf-token');

                fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken,
                        'X-Requested-With': 'XMLHttpRequest',
                    },
                    body: JSON.stringify({})
                })
                .then(response => response.json())
                .then(data => {
                    const likeCount = this.nextElementSibling;
                    likeCount.textContent = data.like_count;
                    if (data.liked) {
                        this.classList.add('liked');
                        this.textContent = '❤️';
                    } else {
                        this.classList.remove('liked');
                        this.textContent = '♡';
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            });
        });

        function handleScroll() {
            if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight - 100) {
                fetchMoreMedia();
            }
        }

        window.addEventListener('scroll', handleScroll);
    });
</script>
{% endblock %}



