web: gunicorn socyfie_application.wsgi:application --bind 0.0.0.0:$PORT
worker: celery -A socyfie_application worker --loglevel=info -n worker1@%h
beat: celery -A socyfie_application beat --loglevel=info
