{% extends 'landing_page.html' %}

{% block title %}
    {{ file_name }} - Preview
{% endblock %}

{% block main_content %}
    <div class="container">
        <h1>Preview of {{ file_name }}</h1>

        {# Handle PowerPoint (.pptx) file preview #}
        {% if pptx_content %}
            <div class="pptx-content">
                {{ pptx_content|safe }}
            </div>

        {% elif pdf_content %}
            <div class="pdf-content">
                <embed src="{% url 'only_card:view_pdf_file' upload.id %}" type="application/pdf" width="100%" height="500px">
            </div>

        {# Handle Word Document (.docx) file preview #}
        {% elif docx_content %}
            <div class="docx-content">
                {{ docx_content|safe }}
            </div>

        {% elif txt_content %}
            <div class="txt_content">
                <!-- Syntax highlighting for code and text files -->
                <pre>
                    <code class="
                    {% if file_type == 'python' %}
                        language-python
                    {% elif file_type == 'javascript' %}
                        language-javascript
                    {% elif file_type == 'text' %}
                        language-text
                    {% else %}
                        language-unknown
                    {% endif %}
                    ">
                    {{ txt_content|safe }}
                    </code>
                </pre>
            </div>

        {# Handle XML file preview #}
        {% elif xml_content %}
            <div class="xml-content">
                <pre>{{ xml_content|safe }}</pre>
            </div>

        {# Handle Excel (.xlsx) file preview #}
        {% elif excel_data %}
        <div class="excel-content">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        {% for header in excel_data.0 %}
                            <th>{{ header }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in excel_data|slice:"1:" %}
                        <tr>
                            {% for cell in row %}
                                <td>{{ cell }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table> 
        </div>

        {# Fallback for unsupported or unhandled content #}
        {% else %}
            <p>Unsupported file type for preview.</p>
        {% endif %}
    </div>
{% endblock %}
