{% extends 'landing_page.html' %}

{% block title %}
    View Video - {{ upload.file_name }}
{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ upload.file_name }}</h1>
        <video controls class="img-fluid">
            <source src="{{ temp_file_url }}" type="{{ mime_type }}">
            Your browser does not support the video tag.
        </video>
        <a href="{{ temp_file_url }}" download="{{ upload.file_name }}" class="btn btn-secondary mt-3">
            Download {{ upload.file_name }}
        </a>
    </div>
{% endblock %}
