{% extends "login_view.html" %}

{% block title %}
Password Reset
{% endblock %}

{% block password_reset %}
    <h2>Password Reset</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {% comment %} {% if request.user.is_authenticated %} {% endcomment %}
        <button type="submit">Send Password Reset Email</button>
        {% comment %} {% else %} {% endcomment %}
        <button type="submit">Submit</button>
        {% comment %} {% endif %} {% endcomment %}
    </form>

    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endblock %}