{% extends 'landing_page.html' %}
{% load static %}

{% block main_content %}
<button id="globe-button" onclick="location.href='{% url 'notion:notion_home' notion_id=request.user.id %}'">
    <i class="fas fa-globe"></i>
</button>

<style>
  .notions-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0rem;
    border: 2px solid lightgray;
    border-radius: 9px;
    color: #123;
  }

  .content-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin: 20px 0;
    padding: 20px;
    border: 4px solid lightgray;
    border-radius: 4px;
    background-color: white;
  }

  .notion-item {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
</style>

<!-- Search Form -->
<form method="GET" action="{% url 'notion:notion_explorer' %}">
    <input type="text" name="q" placeholder="Search notions, hashtags, users">
    <button type="submit">Search</button>
</form>

<div class="notions-container">
  {% if notions %}
    {% for notion in notions %}
      <div class="notion-item">
        <a href="{% url 'user_profile:profile' user_id=notion.user.id %}">{{ notion.user.username }}</a><br>
        <p>{{ notion.content|safe }}</p>
        {% if notion.custom_group %}
          <p>Group: {{ notion.custom_group.name }}</p>
        {% endif %}
        <p>{{ notion.created_at }}</p>
        <a href="{% url 'notion:like_notion' notion.id %}" 
           class="like-link {% if request.user in notion.likes.all %}liked{% endif %}" 
           data-url="{% url 'notion:like_notion' notion.id %}" 
           data-csrf-token="{{ csrf_token }}">
          {% if request.user in notion.likes.all %}
              ❤️
          {% else %}
              ♡
          {% endif %}
        </a> 
        <span class="like-count">{{ notion.likes.count }}</span> likes
        <button onclick="location.href='{% url 'notion:notion_detail' notion.id %}'">Comment</button>
      </div>
    {% endfor %}
  {% else %}
    <p>No notions to display.</p>
  {% endif %}
</div>
{% endblock %}

{% block footer %}
<footer class="bg-primary text-white py-3">
  <div class="bottom-strip d-flex justify-content-around">
    <div class="home">
      <a href="{% url 'only_card:landing_page' %}">
        <i class="fas fa-home"></i>
      </a>
    </div>
    <div class="my-notion">
      {% block new_notion %}
      <form action="{% url 'notion:post_notion' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <textarea name="content" required></textarea>
        {% comment %} <input type="file" name="file" id="file" accept="image/*,video/*" required> {% endcomment %}
        <button type="submit">Notify</button>
      </form>
      {% endblock %}
    </div>
    <div class="profile">
      <a href="{% url 'user_profile:profile' user_id=request.user.id %}" class="profile-button">
        <i class="fas fa-user-circle"></i>
        {% comment %} alt="Profile Image" {% endcomment %}
      </a>
    </div>
  </div>
</footer>
{% endblock %}

{% block notionHome_script %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.like-link').forEach(function(link) {
        link.addEventListener('click', function(event) {
            event.preventDefault();
            const url = this.getAttribute('data-url');
            const csrfToken = this.getAttribute('data-csrf-token');

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken,
                    'X-Requested-With': 'XMLHttpRequest',
                },
                body: JSON.stringify({})
            })
            .then(response => response.json())
            .then(data => {
                const likeSection = this.parentNode;
                const likeLink = likeSection.querySelector('.like-link');
                const likeCount = likeSection.querySelector('.like-count');

                likeCount.textContent = `${data.like_count} likes`;
                if (data.liked) {
                    likeLink.classList.add('liked');
                    likeLink.textContent = '❤️';
                } else {
                    likeLink.classList.remove('liked');
                    likeLink.textContent = '♡';
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    });
});
</script>
{% endblock %}

