{% extends 'landing_page.html' %}
{% load static %}
<style>
    color: #123;
</style>

{% block main_content %}
<div class="search-results">
    <h2>Search Results</h2>
    <ul>
        {% for user in users %}
        <li>
            <!--<a href="{% url 'only_message:send_message_view' %}?recipient={{ user.username|urlencode }}">
                {{ user.username }}
            </a>--> 
            <a href="{% url 'only_message:user_messages_view' username=user.username %}">
                {{ user.username|escape }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
