{% extends 'landing_page.html' %}

{% block content %}
  <h1>{{ ad.title }}</h1>
  <p>{{ ad.description }}</p>
  <img src="{{ ad.image.url }}" alt="{{ ad.title }}">
  <p>Price: {{ ad.price }}</p>
  {% if request.user == ad.user %}
    <a href="{% url 'edit_ad' pk=ad.pk %}">Edit</a>
    <a href="{% url 'delete_ad' pk=ad.pk %}">Delete</a>
  {% elif not ad.is_active %}
    <form method="post">
      {% csrf_token %}
      <button type="submit" name="activate_ad">Activate and Pay</button>
    </form>
  {% endif %}
{% endblock %}
