{% extends 'landing_page.html' %}
{% load static %}
{% load custom_filters %}

{% block main_content %}
<style>
    .img-fluid {
        max-width: 100%;
        height: auto;
    }

    p {
        margin-top: 0;
        margin-bottom: 0rem;
    }

    {% comment %} .media-item + .media-item {
        margin-top: 5px;
    } {% endcomment %}
</style>

<form method="GET" action="{% url 'user_profile:search_uploads' %}" class="d-flex mb-4">
    <input type="text" name="q" class="form-control me-2" placeholder="Search descriptions, hashtags..." value="{{ request.GET.q }}">
    <input type="text" name="hashtag" class="form-control me-2" placeholder="Filter by hashtag" value="{{ request.GET.hashtag }}">
    <button type="submit" class="btn btn-primary">Search</button>
</form>


<br>

<div class="row row-cols-3 g-4" id="media-container">
    {% for media in page_obj %}
        <div class="col media-item">
            <a href="{% url 'user_profile:explore_detail' media.id %}">
                {% if media.file.url|is_video %}
                    <video controls class="img-fluid">
                        <source src="{{ media.file.url }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                {% else %}
                    <img src="{{ media.file.url }}" alt="media" class="img-fluid">
                {% endif %}
            </a>
            <p>
                <a href="{% url 'user_profile:profile' user_id=media.user.id %}">
                    {{ media.user.username }}
                </a>
            </p>
        </div>
    {% endfor %}
</div>

<!-- Loading Spinner -->
<div id="loading-spinner" style="display: none;">
    {% comment %} <img src="{% static 'img/loading_spinner.gif' %}" alt="Loading..."> {% endcomment %}
</div>

<!-- Media Detail Modal -->
<div id="media-detail-modal" class="modal fade" tabindex="-1" aria-labelledby="mediaDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mediaDetailModalLabel">Media Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Media detail content will be loaded here -->
                <div id="media-detail-content"></div>
                <div id="related-media-container" class="row row-cols-3 g-4 mt-4">
                    <!-- Related media will be appended here -->
                </div>
                <div id="related-loading-spinner" style="display: none;">
                    {% comment %} <img src="{% static 'img/loading_spinner.gif' %}" alt="Loading..."> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Pagination controls -->
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1{% if hashtag_filter %}&hashtag={{ hashtag_filter }}{% endif %}">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}{% if hashtag_filter %}&hashtag={{ hashtag_filter }}{% endif %}">previous</a>
        {% endif %}
        <span class="current">
            <br>
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}{% if hashtag_filter %}&hashtag={{ hashtag_filter }}{% endif %}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}{% if hashtag_filter %}&hashtag={{ hashtag_filter }}{% endif %}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}

{% block script %}
<script>
    const mediaContainer = document.getElementById('media-container');
    const loadingSpinner = document.getElementById('loading-spinner');
    let page = 1;
    let loading = false;

    function fetchMoreMedia() {
        if (loading) return;
        loading = true;
        page += 1;

        const url = new URL(window.location.href);
        const hashtagFilter = url.searchParams.get('hashtag') || '';
        const mediaTypeFilter = url.searchParams.get('media_type') || '';


        loadingSpinner.style.display = 'block';

        fetch(`?page=${page}&hashtag=${hashtagFilter}&media_type=${mediaTypeFilter}`, {
        //fetch(`?page=${page}&hashtag=${hashtagFilter}`, {
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
        .then(response => response.json())
        .then(data => {
            loadingSpinner.style.display = 'none';

            if (data.media.length > 0) {
                data.media.forEach(media => {
                    const col = document.createElement('div');
                    col.classList.add('col', 'media-item');

                    const link = document.createElement('a');
                    link.href = `/user_profile/explore_detail/${media.id}/`;

                    if (media.is_video) {
                        const video = document.createElement('video');
                        video.controls = true;
                        video.classList.add('img-fluid');

                        const source = document.createElement('source');
                        source.src = media.file_url;
                        source.type = 'video/mp4';

                        video.appendChild(source);
                        link.appendChild(video);
                    } else {
                        const img = document.createElement('img');
                        img.src = media.file_url;
                        img.alt = 'media';
                        img.classList.add('img-fluid');

                        link.appendChild(img);
                    }

                    col.appendChild(link);

                    const userLink = document.createElement('p');
                    userLink.innerHTML = `<a href="/user_profile/profile/${media.user.id}/">${media.user_username}</a>`;
                    col.appendChild(userLink);

                    mediaContainer.appendChild(col);
                });
                loading = false;
            } else {
                window.removeEventListener('scroll', handleScroll);
                loading = false;
            }
        })
        .catch(error => {
            console.error('Error fetching more media:', error);
            loadingSpinner.style.display = 'none';
            loading = false;
        });
    }

    function handleScroll() {
        const { scrollTop, scrollHeight, clientHeight } = document.documentElement;

        if (scrollTop + clientHeight >= scrollHeight - 5 && !loading) {
            fetchMoreMedia();
        }
    }

    window.addEventListener('scroll', handleScroll);
</script>
{% endblock %}
