{% extends "login_view.html" %}

{% block title %}
Password Reset
{% endblock %}

{% block password_reset %}
    <h2>Password Reset</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {% if request.user.is_authenticated %}
            <button type="submit">Send Password Reset Email</button>
        {% else %}
            <button type="submit">Submit</button>
        {% endif %}
    </form>

    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endblock %}