{% extends 'landing_page.html' %}
{% load tz %}
<style>
    color: #123;
</style>
{% block main_content %}
<form method="GET" action="{% url 'only_message:search_user_message' %}">
    <input type="text" name="q" placeholder="Search users">
    <button type="submit">Search</button>
</form>

<h2>Messages</h2>
<ul id="user-list">
    {% for user in users %}
    <li data-username="{{ user.username|escape }}">
        <a href="{% url 'only_message:user_messages_view' username=user.username %}">
            {{ user.username|escape }}
        </a>
    </li>
    {% endfor %}
</ul>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        function updateOnlineStatus() {
            fetch('{% url "only_message:get_online_users" %}', {
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                    'Accept': 'application/json' // Added Accept header
                }
            })
            .then(response => response.json())
            .then(data => {
                const userListItems = document.querySelectorAll('#user-list li');
                userListItems.forEach(item => {
                    const username = item.getAttribute('data-username');
                    const userId = data.online_users.find(user => user.username === username)?.id;
                    //const userId = data.user_ids[username];
                    const statusSpan = item.querySelector('.status');
                    if (statusSpan) {
                        if (userId) {
                        //if (data.online_users.includes(userId)) {
                            statusSpan.textContent = 'Online';
                        } else {
                            statusSpan.textContent = 'Offline';
                        }
                    }
                });
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    
        // Update status every 30 seconds
        setInterval(updateOnlineStatus, 9000);
    
        // Initial update
        updateOnlineStatus();
    });
</script>
{% endblock %}