{% extends 'landing_page.html' %}

<style>
  color: #123;
</style>

{% block main_content %}
  <h2>Send Message</h2>
  <form id="send-message-form" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Send➣➤</button>
  </form>
  <h2>Messages</h2>
  <ul id="messages">
    <!-- Incoming messages will be appended here by JavaScript -->
  </ul>
{% endblock %}

{% block script %}
  <script>
    var ws_scheme = window.location.protocol === "https:" ? "wss" : "ws";
    var chatSocket = new WebSocket(ws_scheme + '://' + window.location.host + '/ws/chat/');

    chatSocket.onmessage = function(e) {
      var data = JSON.parse(e.data);
      var message = data['message'];
      var sender = data['sender'];
      // Display the message
      var messageElement = document.createElement('li');
      messageElement.innerText = sender + ": " + message;
      document.getElementById('messages').appendChild(messageElement);
    };

    document.getElementById('send-message-form').onsubmit = function(e) {
      e.preventDefault();
      var recipient = document.getElementById('id_recipient').value;
      var content = document.getElementById('id_content').value;
      chatSocket.send(JSON.stringify({
        'action': 'send_message',
        'recipient': recipient,
        'content': content,
      }));
      // Clear the form fields
      document.getElementById('id_content').value = '';
    };
  </script>
{% endblock %}
